@charset "utf-8";
@font-face{
	font-family: 'droid';
	src:url('fonts/droid-sans/DroidSans.tff');
}
@import url('https://fonts.googleapis.com/css?family=Oswald');

body{
	font-family: 'droid'
}
/*----------------------------------------*/
/*corpo*/
.img-produto{
	height:100px; 
	width:100px;
}

.titulo-produto{
	font-size: 15px;
}

.preco{
	color: orange;
}

/*----------------------------------------*/
/*rodape*/

a.logos> img{ /*imagens das redes sociais*/
	height:25px; 
	width:25px;
}

a.link-rodape{
	font-family: 'Oswald';
	text-transform: uppercase;
	color:orange;
	display: block;
}