@charset "utf-8";
@font-face{
	font-family: 'droid';
	src:url('fonts/droid-sans/DroidSans.tff');
}
@import url('https://fonts.googleapis.com/css?family=Oswald');

@media screen and (max-width: 767px){

	#rodape1{
		position: relative;
		top:215px;
	}

	#rodape2{
		position: relative;
		bottom:80px;
	}

    #img-logo{
        display: block;
        margin: 0 auto;
    }

    #destaque-navegacao{
        position: relative;
        left: 0px;
        background-color: #cecece;
        text-align: center;
    }

    h4#texto-destaque{
        color: black;
    }

    #cesta{
        position: relative;
        bottom: 89px;
        margin-left: -320px;
    }

    /*#input-navegacao{
        position: relative;
        left: 55px;
       
    }*/

    #barra-navegacao{
        position: relative;
        top: -175px;
        background-color: #523468;
        border:none;
    }

    #form-navegacao{
        position: relative;
        top: -166px;
        left: 53px;
        background-color: white;
    }


}

@media screen and (min-width: 767px){

    #form-navegacao{
        position: absolute;
        top: 30px;
        left: 360px;
    }
}


body{
	font-family: 'droid';
	margin: 0px;
    padding: 0px;
}

.titulo{
	font-family: 'Oswald',sans-serif;
}
/*-------------------------------------------*/
/*barra de navegação*/

#cabecalho2{
    background-color: #523468;
}

#cabecalho2 a{
    color: white;
}


#img-logo{
    margin-left: 50px;
}

#destaque-navegacao{
   
    position: absolute;
    right: 300px;
    margin-top: 15px;
}

#texto-destaque{
    color: #d73a1e;
}

/*#input-navegacao{
    width: 250px;
}*/

#cesta{
    position: relative;
    left: 630px;
}

#cesta img{
    height:50px; 
    width:41px;
}

#cesta h4{
    text-transform: uppercase;
    font-family: "Oswald",sans-serif;
    color: #cecece;
    display: inline;
    font-size: 15px;
}

#cesta span{
    color: #d73a1e;
    font-size: 20px;
}

#buttom-navegacao{
    position: absolute;
    top: 19px;
    left: 5px;
}




/*#barra-navegacao li>a{
    color: white;
}*/
/*----------------------------------------*/
/*corpo*/

.img-produto{
	height:100px; 
	width:100px;
}

.titulo-produto{
	font-size: 15px;
}

.preco{
	color: #d73a1e;
}

/*-------------------------------------------------------------*/
	/*lightBox*/
	
	.overlay {
            /*display: none;*/
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index: 1001;
            -moz-opacity: 0.8;
            opacity: .80;
            filter: alpha(opacity=80);
        }
 
        .conteudo {
            /*display: none;*/
            position: absolute;
            top: 8%;
            left: 25%;
            width: 50%;
            height: 75%;
            padding: 16px;
            border: 2px solid gray;
            background-color: white;
            z-index: 1002;
            overflow: auto;
        }

        #descricao > p{
        	margin:0;
        }

        #botao-fechar{
        	float: right;
        	font-family:'Oswald', sans-serif;
        }
       
        .produto-lightbox{
        	height:260px; 
        	width:260px;
        }

        .titulo-descricao{
        	font-size: 15px;
        	font-weight: bold;
        }

        #preco-descricao{
        	color:#d73a1e;
        	font-weight: bold;
        }

        #botao-descricao{
        	font-family:'Oswald', sans-serif;
        	text-transform: uppercase; 
        }

/*----------------------------------------*/
/*rodape*/
#rodape{
	margin-top: 10px;
	padding: 15px;
	background-color: #e6e6e6;
	max-height: 100%;
}

a.logos> img{ /*imagens das redes sociais*/
	height:25px; 
	width:25px;
	margin: 15px;
}

a.link-rodape{
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	color:#d73a1e;
	display: block;
}

#direitos-reservados{
    color: #666e76;
}

#form-rodape{
	background-color: white;
	padding: 5px;
	border-radius: 5px;
}