@charset "utf-8";
@font-face{
	font-family: 'droid';
	src:url('fonts/droid-sans/DroidSans.tff');
}
@import url('https://fonts.googleapis.com/css?family=Oswald');

body{
	font-family: 'droid'
}
/*----------------------------------------*/
/*corpo*/
.img-produto{
	height:100px; 
	width:100px;
}

.titulo-produto{
	font-size: 15px;
}

.preco{
	color: orange;
}